.section{width: 100%;min-height: 100vh;background: #161616; padding: 20px 20px 20px 120px; box-sizing: border-box;}
.section h2{font-size: 32px; color: #fff; font-weight: 500; margin-bottom: 20px;}

.section ul{display: grid; grid-template-columns: repeat(4,minmax(250px,auto)); grid-gap: 20px;}
.section ul li{width: 100%; cursor: pointer;}
.section ul li .img{width: 100%; height: 300px;background: #ccc; transition: all 0.4s; border-radius: 25px;}
.section ul li:hover .img{box-shadow: rgba(0, 0, 0, 0.6) 5px 10px 25px; }
.section ul li .img img{width: 100%;height: 100%;object-fit: cover; overflow: hidden; border-radius: 20px;}

.section ul li .text{margin-top: 10px;}
.section ul li .text em{font-size: 14px;color: #fff;}
.section ul li .text em strong{font-size: 16px;color: yellow;}
.section ul li .text h2{font-size: 16px; margin-top: 5px; color: #fff;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1; -webkit-box-orient: vertical; }

@media (max-width:1220px){
    .section ul{grid-template-columns: repeat(3,minmax(250px,auto));}
}

@media (max-width:950px){
    .section ul{grid-template-columns: repeat(2,minmax(250px,auto));}
}

@media (max-width:767px){
    .section{padding-left: 80px;}
}

@media (max-width:680px){
    .section ul{grid-template-columns: repeat(1,minmax(250px,auto));}
}

@media (max-width:400px){
    .section ul{grid-template-columns: repeat(1,minmax(150px,auto));}
}
