.container{border-radius: 25px; overflow: hidden;}
.slide{width: 100%; height: 600px;padding: 20px 100px; box-sizing: border-box; display: flex; flex-direction: column; justify-content: center;}

.slide .img{width: 100%;height: 600px; position: absolute;top: 0;left: 0; z-index: -1;}
.slide .img::before{content: '';width: 100%;height: 100%;background: linear-gradient(-90deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 1));  position: absolute; top: 0;left: 0;}
.slide .img img{width: 100%;height: 100%;object-fit: cover;}

.slide .grade{transform: translateY(10px); opacity: 0; transition: all 1s; transition-delay: 0.4s;}
.slide .grade em{font-size: 16px;color: #fff; font-weight: 600;}
.slide .grade em strong{color: rgb(253, 253, 31);}

.slide h2{font-size: 36px; font-weight: 600; color: #fff; max-width: 1000px; transform: translateY(10px); opacity: 0; transition: all 1s; transition-delay: 0.6s;}
.slide span{display: inline-block; padding: 3px 10px; margin: 10px 0; font-size: 14px; color: #ccc; border: 1px solid #ccc; border-radius: 30px; transform: translateY(10px); opacity: 0; transition: all 1s; transition-delay: 0.8s;}

.slide .info{transform: translateY(10px); opacity: 0; transition: all 1s; transition-delay: 1s;}
.slide .info ul{display: flex;}
.slide .info ul li{margin-right: 20px; position: relative;}
.slide .info ul li::before{content: '';width: 1px;height: 50%; background: #ccc; position: absolute; top: 50%; right: -10px; transform: translateY(-50%);}
.slide .info ul li:last-child::before{width: 0;height: 0;}
.slide .info ul li em{font-size: 14px;color: #fff;}

.slide > p{max-width: 1000px; font-size: 14px; color: #ccc; margin: 10px 0;  transform: translateY(10px); opacity: 0; transition: all 1s; transition-delay: 1.2s;}

.slide .actor{display: flex; transform: translateY(10px); opacity: 0; transition: all 1s; transition-delay: 1.4s;}
.slide .actor em{max-width: 1000px; font-size: 14px; color: #fff; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1; -webkit-box-orient: vertical;}

.slide .btn{margin-top: 20px; transform: translateY(10px); opacity: 0; transition: all 1s; transition-delay: 1.6s;}
.slide .btn button{width: 100px;height: 40px; color: #fff; font-weight: 500; border-radius: 5px; font-size: 16px; backdrop-filter: blur(1px); cursor: pointer; background: rgba(255, 255, 255, 0.5);}

@media (max-width:767px){
    .slide{padding: 20px; height: 500px;}
    .slide .img{height: 500px;}
    .slide h2{font-size: 30px; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;}
    .slide > p{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4; -webkit-box-orient: vertical;}
    .slide .info ul li em{}
}

@media (max-width:500px){
    .slide{height: 400px;}
    .slide .img{height: 400px;}
    .slide h2{font-size: 20px;}
    .slide span{font-size: 12px;}
    .slide .info ul{flex-direction: column;}
    .slide .info ul li::before{display: none;}
    .slide .info ul li em{font-size: 12px;}
    .slide > p{font-size: 12px;}
    .slide .actor em{font-size: 12px;}
    .slide .btn button{width: 70px;height: 30px; font-size: 14px;}
}

@media (max-width:500px){
    .slide{padding: 20px 10px; }
}


