.section{}

.movie_wrap{margin: 50px 0;}
.movie_wrap h2{font-size: 20px; color: #fff; font-weight: 600; margin-bottom: 20px;}
.movie_wrap ul{display: grid; grid-template-columns: repeat(5,minmax(250px,auto)); grid-template-rows: auto; grid-gap: 0 20px;}
.movie_wrap ul li{width: 100%;height: 100%; }

.movie{cursor: pointer;}
.movie .img_box{width: 100%;height: 200px; background: #555; border-radius: 20px; transition: all 0.4s;}
.movie:hover .img_box{box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px; }
.movie .img_box img{width: 100%;height: 100%;object-fit: cover; border-radius: 20px;}
.movie .text_box{max-width: 250px; margin-top: 10px;}
.movie .text_box em{color: #fff;font-size: 14px;}
.movie .text_box em strong{color: yellow; font-size: 16px; }
.movie .text_box h4{font-size: 16px;color: #fff; margin-top: 5px; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1; -webkit-box-orient: vertical;}

@media (max-width:1490px){
    .movie_wrap ul{grid-template-columns: repeat(4,minmax(250px,auto));}
    .movie_wrap ul li:nth-child(5){display: none;}
}

@media (max-width:1220px){
    .movie_wrap ul{grid-template-columns: repeat(2,minmax(250px,auto)); grid-template-rows: auto; grid-gap: 20px;}
}

@media (max-width:680px){
    .movie_wrap ul{grid-template-columns: repeat(1,minmax(150px,auto));}
}
